/*
Congratulations! No Error Found.

This document validates as CSS level 3 + SVG ! 

*/

body {
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0px;
}
header {
	font-family: 'Notable', sans-serif;
    height: 300px;
    position: relative;
    width: 100%;
    text-align: center;
	line-height: 25px;
	color: #000099;
	text-shadow: 2px 2px #ff0000;
}
header > h1 + h2 {
	font-style: italic;
	color: #fff;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	letter-spacing: 2px;
	word-spacing: 5px;
}
.pageTitle {
	/* word-indent isn't recognized so I am using text-indent*/
	text-indent: 10px;
}
.pageDesc {
	border: 2px solid blue;
	padding: 5px;
	margin: 5px;
}
p::first-letter {
	font-size: 115%;
	font-weight: bold;
}
a:active {
	background-color: #00ff00;
}
a:hover {
	color: #9999ff;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.navigation li {
	float: left;
	width: 33%;
}
.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.navigation li a:hover {
  background-color: #111111;
  color: yellow;
}
.navigation li a:active {
  background-color: #ffffbb;
  color: red;
}

#solarEnergyVideo {
	width: 100%;
}
.shopArticle {
	height: 250px;
	width: 70%;
}
.shopArticle p, .shopArticle h2{
	width: 60%;
	padding-left: 20px;
	padding-top: 10px;
}
.shopImage {
	float: right;
    height: 150px;
    width: 250px;
	margin-left: 10px;
	flex-wrap: wrap;
}
.imgCopyright {
	color: gray;
	font-style: italic;
}
.figure {
	float: right;
	margin-top: -150px;
}
.fiveReasons {
	float: right;
	font-size: large;
	background-color: #99ffff;
	height: 800px;
	width: 30%;
}
.fiveReasons h2 {
	margin-left: 10px;
	color: brown;
}
.nameFooter {
	background-color: gray;
	color: white;
	height: 40px;
	margin-right: 200px;
	bottom: 0;
}
.cookieStatement {
    background-color: #FA0;
    opacity: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
	width: 200px;
	height: 40px;
	text-align: center;
}
.cookieStatement a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 2px 2px #ff0000;
	z-index: 9999;
}
/*how solar works*/
.simpleShopImage {
	width:250px;
	height:150px;
}
.hsw-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 
  grid-gap: 10px;
  background-color: #333388;
  padding: 10px;
  grid-template-areas:
    "hsw2 hsw1 hsw3"
    "hsw2 hsw1 hsw3"
    "hsw5 hsw1 hsw3"
    "hsw5 hsw1 hsw4"
    "hsw5 hsw1 hsw4"
    "hsw5 hsw1 hsw4"
    "hsw5 hsw6 hsw6";
}
.hsw-grid-container > article {
	padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
#hsw-1 {
	grid-area: hsw1;
}
#hsw-2 {
	grid-area: hsw2;
}
#hsw-3 {
	grid-area: hsw3;
}
#hsw-4 {
	grid-area: hsw4;
}
#hsw-5 {
	grid-area: hsw5;
}
#hsw-6 {
	grid-area: hsw6;
}
#shopImages {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	flex-grow: 1;
}
#shopImages > figure {
	padding: 10px;
}
#shopImages > #simpleShop2 {
	grid-column-start: 2;
}
#shopImages > #simpleShop3 {
	grid-column-start: 3;
}

/*
eusolar
*/
#euSolarDesc {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	flex-shrink: 2;
}
table.eusolar-table {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	border-color: magenta;
	border-style: double;
	border-width: 6px;
	border-collapse: collapse;
	width: 60%;
} 
.eusolar-table th {
	background-color: black; 
	color: white;
	font-weight: bold;
}
.eusolar-table td {
	padding: 7px;
	border: 1px solid black; 
	background-color: white;
}
.eusolar-table td:first-child {
	background-color: #FF0;
}
.eusolar-table tr:nth-child(even) td+td {
    background-color: #CFF;
}
.eusolar-table tr:nth-child(odd) td+td {
    background-color: #FFF;
}
#sideImages {
	float: right;
	width: 30%;
	text-align: center;
}

/*contact*/
.contactForm {
	height: 800px;
}
::placeholder {
	font-style: italic;
	font-family: Arial;
	font-size: large;
	color: #ccc;
}
input[type=text],input[type=email] {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  min-width: 100px;
  background-color: #4444FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6666FF;
}


/* TABLET MODE 1280 */
@media only screen and (max-width: 1280px) {
	#siteLogo {
		height: 200px;
	}
}

/* MOBILE MODE 480 */
@media only screen and (max-width: 480px) {
	/*Uses the property display to hide content for different devices.
	Some elements are hidden for Mobile users.*/
	#euSolarDesc {
		display: none;
	}
	#siteLogo {
		display: none;
	}
	header {
		height: 170px;
	}
	#solarEnergyVideo {
		display: none;
	}
	#solarEnergyVideo + .imgCopyright {
		display: none;
	}
}